[Unit]
Description=GRE Keepalive
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/gre-keepalive.pl -vf %i
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
